<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.production.samipc.mysidurapp1">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="app.production.samipc.mysidurapp1.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.production.samipc.mysidurapp1.SelecionRezo"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_selecion_rezo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.production.samipc.mysidurapp1.Selecionahora"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_selecionahora"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.production.samipc.mysidurapp1.LeerSidur"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_leer_sidur"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.production.samipc.mysidurapp1.SelecionErevShabat"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_selecion_erev_shabat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.production.samipc.mysidurapp1.SeleccionModo"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_seleccion_modo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.production.samipc.mysidurapp1.HebrewDateConverter"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_hebrew_date_converter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.production.samipc.mysidurapp1.SeleccionaRezoShajrit"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_selecciona_rezo_shajrit"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>